.about_container {
  background-color: #00458F;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 99.9vh;
  top: 0;
}

.about_content {
  display: flex;
  width: 60vw;
  height: 40vh;
}

.about_container > h2 {
  font-family: 'Bebas Neue', cursive;
  color: #FDC500;
  font-size: 60px;
}

.about_content > p {
  margin-top: 2vh;
  color: white;
  font-family: 'Nunito', sans-serif;
  text-align: justify;
  font-size: 20px;
}

.custom-shape-divider-bottom-about {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100vw;
  min-width: 99vw;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-bottom: -0.1vh;
}

.custom-shape-divider-bottom-about .about_svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 5vh;
}

.custom-shape-divider-bottom-about .shape-fill {
  fill: #00387E;
}

.icons_about_left {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: flex-start;
}

.icons_about_right {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  width: 100%;
  height: 100%;
  position: absolute;
}

.bug_icon_about {
  margin-top: 22vh;
  margin-left: 10vw;
  width: 5vw;
  animation: float 6s ease-in-out infinite;
}

.api_icon_about {
  width: 5vw;
  margin-left: 5vw;
  animation: float 6s ease-in-out infinite;
}

.responsive_icon_about {
  width: 5vw;
  margin-left: 10vw;
  animation: float 6s ease-in-out infinite;
}

.javascript_icon_about {
  margin-top: 22vh;
  margin-right: 10vw;
  width: 5vw;
  animation: float 6s ease-in-out infinite;
}

.html_icon_about {
  margin-right: 5vw;
  animation: float 6s ease-in-out infinite;
}

.css_icon_about {
  margin-right: 10vw;
  animation: float 6s ease-in-out infinite;
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-3vh);
	}
	100% {
		transform: translatey(0px);
	}
}

@media screen and (max-device-width: 767px) {
  .about_container {
    height: 100vh;
    width: 105vw;
    max-width: 105vw;
  }

  .custom-shape-divider-bottom-about {
    width: 105vw;
  }

  .about_content {
    width: 90vw;
  }

  .about_container > h2 {
    font-size: 100px;
  }

  .about_content > p {
    font-size: 40px
  }

  .custom-shape-divider-bottom-about .about_svg {
    height: 5vh;
  }

  .icons_about_left {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20vw;
  }
  
  .icons_about_right {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 20vw;
  }

  .bug_icon_about {
    height: 8vh;
    width: 15vw;
    margin-top: 20vh;
    margin-right: 0;
    margin-left: 0;
  }
  
  .api_icon_about {
    height: 8vh;
    width: 15vw;
    margin-top: 15vh;
    margin-right: 0;
  }
  
  .responsive_icon_about {
    height: 8vh;
    width: 15vw;
    margin-top: 20vh;
    margin-left: 0;
  }
  
  .javascript_icon_about {
    height: 8vh;
    width: 15vw;
    margin-bottom: 12vh;
    margin-right: 0;
  }
  
  .html_icon_about {
    height: 8vh;
    width: 15vw;
    margin-right: 0;
    margin-bottom: 8vh;
  }
  
  .css_icon_about {
    height: 8vh;
    width: 15vw;
    margin-right: 0;
    margin-bottom: 12vh;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 960px) {
  .about_container {
    max-width: 105vw;
    width: 105vw;
  }
  .about_content {
    height: 40vh;
  }

  .bug_icon_about, .javascript_icon_about {
    margin-top: 30vh;
    width: 7vw;
  }

  .api_icon_about, .responsive_icon_about {
    width: 7vw;
  }

  .custom-shape-divider-bottom-about {
    width: 105vw;
  }
}