.main_page {
  display: flex;
  align-items: flex-start;
  max-width: 100vw;
  height: 99.9vh;
  background-color: #00509d;
}

.apresentation_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.apresentation_container > h1 {
  font-family: 'Bebas Neue', cursive;
  color: #FDC500;
  font-size: 100px;
  width: 31vw;
}

.apresentation_container > h3 {
  font-family: 'Bebas Neue', cursive;
  color: #FFD500;;
  font-size: 33px;
  width: 31vw;
}

.apresentation_container_pt > h3 {
  font-family: 'Bebas Neue', cursive;
  color: #FFD500;
  font-size: 29px;
  width: 31vw;
}

.profile_picture_container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.profile_picture {
  top: 5vh;
  right: 5vw;
  position: relative;
  height: 95%;
}

.custom-shape-divider-bottom-1653059723 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1653059723 .mainpage_svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 10vh;
}

.custom-shape-divider-bottom-1653059723 .shape-fill {
  fill: #00458F;
}

@media screen and (max-device-width: 767px) {
  .main_page {
    display: flex;
    flex-direction: column;
    height: 99.95vh;
    max-width: 105vw;
    min-width: 105vw;
  }
  
  .apresentation_container {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    height: 49vh;
    width: 105vw;
    margin-left: 0;
  }

  .apresentation_container > h3 {
    text-align: center;
    width: 65vw;
    font-size: 60px;

  }

  .apresentation_container > h1 {
    text-align: center;
    width: 70vw;
    font-size: 140px;
  }

  .profile_picture_container {
    height: 70%;
  }

  .profile_picture {
    right: 0;
  }
  .custom-shape-divider-bottom-1653059723 {
    width: 105vw;
    margin-bottom: -0.01vh;
  }
  
  .custom-shape-divider-bottom-1653059723 .mainpage_svg {
    height: 5vh;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 960px) {
  .main_page {
    max-width: 105vw;
    width: 105vw;
  }

  .profile_picture_container {
    width: 50vw;

  }

  .profile_picture {
    width: 60vw;
  }

  .apresentation_container > h1 {
    font-size: 83px;
    width: 40vw;
  }
  .apresentation_container > h3 {
    font-size: 35px;
    width: 40vw;
  }

  .custom-shape-divider-bottom-1653059723 {
    width: 105vw;
  }
}