.works_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00387E;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.project_details_buttons > button > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  height: 100%;
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: black;
  opacity: 20%;
}

.full_screen_video_container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.projects_exhibition {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  justify-content: flex-start;
  gap: 3vh;
  width: 40vw;
  overflow-y: scroll;
  padding: 3vh 0;
}

.project_selector {
  background-color: #00458F;
  box-shadow: 0 5px 0  #003772;
  border-radius: 5px;
  color: #FDC500;
  display: flex;
  align-items: center;
  width: 23.5vw;
  min-height: 15vh;
  padding-left: 3vw;
  cursor: pointer;
}

.active_project {
  border: 1px solid #FDC500;
  min-height: 14.9vh;
}

.project_selector > img {
  user-select: none;
  height: 65%;
}

.project_selector > h1 {
  position: relative;
  user-select: none;
  font-size: 32px;
  font-family: 'Bebas Neue', cursive;
  width: 100%;
  text-align: center;
}

.projects_exhibition::-webkit-scrollbar {
  width: 3px;
}

.projects_exhibition::-webkit-scrollbar-thumb {
  background-color: #FDC500;
  border-radius: 20px;
}

.projects_exhibition::-webkit-scrollbar-thumb:hover {
  background-color: orange;
}

.project_details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  width: 50vw;
  height: 75vh;
  margin-right: 5vw;
}

.project_details > h1 {
    font-family: 'Bebas Neue', cursive;
    color: #FDC500;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.project_details > p {
  padding-top: 5vh;
  font-family: 'Nunito', sans-serif;
  height: 50%;
  font-size: 1.3vw;
  text-align: justify;
}

.project_details_buttons > button {
  outline: none;
  border-radius: 10px;
  background-color: #FDC500;
  box-shadow: 0 5px 0 #ca9e00;
  font-weight: 900;
  width: 48%;
  height: 7vh;
  cursor: pointer;
}

.project_details_buttons > button:active {
  box-shadow: none;
  transform: translateY(5px);
}

.project_details_buttons {
  display: flex;
  justify-content: center;
  gap: 3vw;
  width: 100%;
}

.custom-shape-divider-bottom-works {
  position: relative;
  bottom: 10vh;
  left: 0;
  width: 100vw;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-bottom: -0.1vh;
}

.custom-shape-divider-bottom-works .works_svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 5vh;
}

.custom-shape-divider-bottom-works .shape-fill {
  fill: #001c39;
}

@media screen and (max-device-width: 767px) {
  .works_container {
    margin-top: -1vh;
    width: 105vw;
    height: 100vh;
    flex-direction: column;
  }

  .projects_exhibition {
    margin-top: 5vh;
    flex-direction: row;
    width: 80%;
    height: 15vh;
    overflow-x: scroll;
  }

  .project_selector {
    min-width: 60%;
    min-height: 10vh;
    height: 10vh;
  }

  .project_selector > img {
    user-select: none;
    height: 70%;
  }
  
  .project_selector > h1 {
    position: relative;
    user-select: none;
    font-size: 52px;
    font-family: 'Bebas Neue', cursive;
    width: 100%;
    text-align: center;
  }

  .project_details {
    color: white;
    width: 90vw;
    height: 70%;
    margin-right: 0;
  }
  
  .project_details > h1 {
    font-size: 80px;
  }
  
  .project_details > p {
    height: 65%;
    font-size: 40px;
    text-align: justify;
  }

  .project_details_buttons {
    margin-bottom: 10vh;
  }

  .project_details_buttons > button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    box-shadow: 0 10px 0 #ca9e00;
  }

  .project_details_buttons > button:active {
    transform: translateY(10px);
  }

  .projects_exhibition::-webkit-scrollbar {
    width: 100%;
  }

  .full_screen_video_container {
    z-index: 50;
  }

  .custom-shape-divider-bottom-works {
    margin-top: 5vh;
    width: 105vw;
  }

}

@media screen and (min-device-width: 768px) and (max-device-width: 960px) {
  .works_container {
    width: 105vw;
    flex-direction: column;
  }
  .projects_exhibition {
    margin-top: 5vh;
    flex-direction: row;
    width: 80%;
    height: 20vh;
    overflow-x: scroll;
  }

  .project_selector {
    min-width: 40%;
    height: 10vh;
  }

  .projects_exhibition::-webkit-scrollbar {
    width: 100%;
    height: 1vh;
  }

  .project_details {
    margin-top: 5vh;
    width: 85vw;
    margin-right: 0;
  }

  .project_details > p {
    font-size: 22px;
  }

  .project_details_buttons {
    margin-bottom: 12vh;
  }

  .project_details_buttons > button {
    font-size: 20px;
  }

  .custom-shape-divider-bottom-works {
    margin-top: 5vh;
    width: 105vw;
  }
}