/* Reference used in hover effect:
  https://codepen.io/TiagoLopes/pen/yopxeW
*/

.header_component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 12vh;
  width: 90vw;
  padding: 0 5vw;
  backdrop-filter: blur(3px);
}

.toggle_header_btn {
  height: 5vh;
  width: 10vw;
  margin-top: 3vh;
  margin-left: 3vw;
  background-color: transparent;
  position: fixed;
  z-index: 2;
}

.menu_btn {
  margin-left: 5vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 5vh;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.header_mobile {
  position: fixed;
  backdrop-filter: blur(5px);
  height: 10vh;
  width: 100vw;
  z-index: 100;
}

.menu_btn_inside {
  width: 10vw;
  height: 0.5vh;
  background: #FDC500;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.menu_btn_inside::before,
.menu_btn_inside::after {
  content: '';
  position: absolute;
  width: 10vw;
  height: 0.5vh;
  background: #FDC500;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.menu_btn_inside::before {
  transform: translateY(-1vh);
  right: 0.1vw;
}
.menu_btn_inside::after {
  transform: translateY(1vh);
  right: 0.1vw;
}
.menu_btn.open .menu_btn_inside {
  background: transparent;
}
.menu_btn.open .menu_btn_inside::before {
  transform: rotate(45deg);
}
.menu_btn.open .menu_btn_inside::after {
  transform: rotate(-45deg);
}

.header_nav {
  display: flex;
  gap: 3vh;
}

.header_nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FDC500;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  width: 6vw;
  height: 5.5vh;
}

.nav_lang {
  color: #FDC500;
  font-family: 'Nunito', sans-serif;
  width: 5vw;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_lang > button {
  font-size: 20px;
  cursor: pointer;
  color: #FDC500;
  background-color: transparent;
  height: 80%;
  width: 33%;
}

.nav_lang > span {
display: block;
width: 33%;
text-align: center;
}

@media screen and (min-device-width: 769px){
  .header_nav > a:hover {
    color: #00387E;
    box-shadow: inset 100px 0 0 0 #FDC500;
    cursor: pointer;
    font-weight: 900;
  }
}

@media screen and (max-device-width: 767px){

  .header_mobile {
    position: fixed;
    z-index: 100;
  }

  .header_component {
    background-color: #001c39;
    border-radius: 0 0 20px 0;
    height: 100vh;
    width: 70vw;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8vh 0 0 5vw;
  }

  .header_nav > a {
    font-size: 45px;
  }
  
  .header_nav {
    margin-top: 10vh;
    flex-direction: column;
  }

  .nav_lang {
    height: 5vh;
    width: 20vw;
    font-size: 30px;
  }
  
  .nav_lang > button {
    font-size: 40px;
  }
  
  .nav_lang > span {
  display: block;
  width: 33%;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 960px) {
  .nav_lang {
    width: 8vw;
  }
}